<div class="my-2 row d-flex align-items-start">
  <div class="col-4">
    <!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
    <button class="btn btn-outline-secondary" data-bs-toggle="modal"
      [attr.data-bs-target]="'#modalNewProduct-' + category().id" (click)="newProductForm.reset()">+ Nuevo
      producto</button>
    <div class="modal fade" [id]="'modalNewProduct-' + category().id" data-bs-backdrop="static" data-bs-keyboard="false"
      tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Nuevo producto</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form #newProductForm="ngForm">
              <div>
                <label [for]="'name-' + category().id" class="form-label">Nombre</label>
                <input [id]="'name-' + category().id" class="form-control" name="name" required ngModel type="text"
                  #name="ngModel">
                @if (name.invalid && !name.pristine) {
                <p class="text-danger fs-6 mt-2">Debe colocar un nombre de producto.</p>
                }
              </div>
              <div>
                <label [for]="'description-' + category().id" class="form-label">Descripción</label>
                <input [id]="'description-' + category().id" class="form-control" name="description" required ngModel
                  type="text" #description="ngModel">
                @if (description.invalid && !description.pristine) {
                <p class="text-danger fs-6 mt-2">Debe colocar una descripción.</p>
                }
              </div>
              <div>
                <label [for]="'price-' + category().id" class="form-label">Precio</label>
                <input [id]="'price-' + category().id" class="form-control" name="price" required ngModel type="number"
                  #price="ngModel">
                @if (price.invalid && !price.pristine) {
                <p class="text-danger fs-6 mt-2">Debe colocar un precio.</p>
                }
              </div>
              <div class="form-check">
                <label [for]="'featured-' + category().id" class="form-check-label">Destacado</label>
                <input [id]="'featured-' + category().id" class="form-check-input" name="featured" ngModel
                  type="checkbox" #featured="ngModel">
              </div>
              <div>
                <label [for]="'labels-' + category().id" class="form-label">Etiqueta</label>
                <select class="form-select" [id]="'labels-' + category().id" name="labels" ngModel #labels="ngModel" aria-label="Default select example">
                  <option selected>None</option>
                  <option value="Vegan">Vegan</option>
                  <option value="Vegetarian">Vegetarian</option>
                  <option value="GlutenFree">GlutenFree</option>
                  <option value="Spicy">Spicy</option>
                  <option value="SugarFree">SugarFree</option>
                  <option value="Kids">Kids</option>
                  <option value="Shareable">Shareable</option>
                </select>
              </div>
              <div>
                <label [for]="'recommendedFor-' + category().id" class="form-label">Cantidad de personas
                  recomendada</label>
                <input [id]="'recommendedFor-' + category().id" class="form-control" name="recommendedFor" ngModel
                  type="number" #recommendedFor="ngModel" min="1" required>
              </div>
              <div>
                <label [for]="'discount-' + category().id" class="form-label">Descuento (%)</label>
                <input [id]="'discount-' + category().id" class="form-control" name="discount" ngModel type="number"
                  #discount="ngModel">
              </div>
              <div class="form-check">
                <label [for]="'hasHappyHour-' + category().id" class="form-check-label">Happy Hour</label>
                <input [id]="'hasHappyHour-' + category().id" class="form-check-input" name="hasHappyHour" ngModel
                  type="checkbox" #hasHappyHour="ngModel">
              </div>
              <div>
                <button class="btn btn-dark mt-2" data-bs-dismiss="modal" [disabled]="newProductForm.invalid"
                  (click)="createProduct(newProductForm)">Crear</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
    <button class="btn btn-outline-secondary mx-2" data-bs-toggle="modal"
      [attr.data-bs-target]="'#modalEditCategory-' + category().id">Editar</button>

    <div class="modal fade" [id]="'modalEditCategory-' + category().id" data-bs-backdrop="static"
      data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Edita la categoría</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form #editCategoryForm="ngForm">
              <div>
                <label for="name" class="form-label">Nombre</label>
                <input id="name" class="form-control" name="name" required ngModel type="text" #name="ngModel">
                @if (name.invalid && !name.pristine) {
                <p class="text-danger fs-6 mt-2">Debe colocar un nombre de categoría.</p>
                }
              </div>
              <div>
                <button class="btn btn-dark mt-2" data-bs-dismiss="modal" [disabled]="editCategoryForm.invalid"
                  (click)="editCategory(editCategoryForm)">Aceptar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- ///////////////////////////////////// -->
    <button class="btn btn-outline-secondary" (click)="openDeleteModal()">🗑️</button>
  </div>
  <p class="col-3 m-0">{{ category().name }}</p>
  <div class="col-5">
    @if (this.barManager.id) {
    @for (product of productService.productos[this.barManager.id]; track $index) {
    @if (category().id === product.categoryId){
    <div class="column col-5">
      <app-products-list-manager [products]="product"></app-products-list-manager>
    </div>
    }
    }
    }
  </div>
</div>