.red-social-img {
  width: 32px;
  height: 32px;
  transition: transform 0.2s ease, opacity 0.2s ease;
  opacity: 0.8;
}

.heigt-low{
    height: 100px;
}

:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}