<div class="mb-4">
    <button
        class="btn btn-outline-secondary bg-light-subtle border-2 border-warning-subtle text-dark fw-semibold px-5 py-3 w-75"
        type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#category-' + category().id" aria-expanded="false" [attr.aria-controls]="'category-' + category().id">
        {{ category().name }}
    </button>
    <div class="collapse mt-3" [id]="'category-' + category().id">
        @for (products of productService.productos[this.menuService.id()]; track $index) {
        @if (products.categoryId === category().id) {
        <app-products-list-items [products]="products"></app-products-list-items>
        }
        }
    </div>
</div>