<div class="container-fluid m-0">
    <div class="row h-100">
        <div class="col-md-6 d-none d-md-block p-0">
            <img src="https://images.unsplash.com/photo-1666032119084-82351976a922?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1035"
                alt="Imagen login" class="w-100 h-100">
        </div>
        <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
            <div class="card border-0 shadow-lg" style="width: 100%; max-width: 450px;">
                <div class="card-body p-5">
                    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
                        <h2 class="text-center fw-bold mb-4">Registrarse</h2>
                        <div class="mb-2">
                            <label for="restaurantName" class="form-label">Nombre de restaurante</label>
                            <input id="restaurantName" class="form-control" name="restaurantName" type="text" ngModel
                                #userName="ngModel" required="true" autocomplete="userName">
                            @if (userName.invalid && !userName.pristine) {
                            <p class="text-danger fs-6 mt-2">Debe colocar un nombre.</p>
                            }
                        </div>
                        <div class="mb-2">
                            <label for="firstName" class="form-label">Nombre</label>
                            <input id="firstName" class="form-control" name="firstName" type="text" ngModel
                                #firstName="ngModel" required="true" autocomplete="firstName">
                            @if (firstName.invalid && !firstName.pristine) {
                            <p class="error">Debe colocar un nombre.</p>
                            }
                        </div>
                        <div class="mb-2">
                            <label for="lastName" class="form-label">Apellido</label>
                            <input id="lastName" class="form-control" name="lastName" type="text" ngModel
                                #lastName="ngModel" required="true" autocomplete="lastName">
                            @if (lastName.invalid && !lastName.pristine) {
                            <p class="error">Debe colocar un apellido.</p>
                            }
                        </div>
                        <div class="mb-2">
                            <label for="address" class="form-label">Dirección</label>
                            <input id="address" class="form-control" name="address" type="text" ngModel
                                #address="ngModel" required="true" autocomplete="lastName">
                            @if (address.invalid && !address.pristine) {
                            <p class="error">Debe colocar una dirección.</p>
                            }
                        </div>
                        <div class="mb-2">
                            <label for="phoneNumber" class="form-label">Teléfono</label>
                            <input id="phoneNumber" class="form-control" name="phoneNumber" type="text" ngModel
                                #lastName="ngModel" required="true" autocomplete="lastName">
                            @if (lastName.invalid && !lastName.pristine) {
                            <p class="error">Debe colocar un número de teléfono</p>
                            }
                        </div>
                        <div class="mb-2">
                            <label for="password" class="form-label">Contraseña</label>
                            <input id="password" class="form-control" name="password" type="password" ngModel
                                #password="ngModel" minlength="4" autocomplete="current-password">
                            @if (password.invalid && !password.pristine) {
                            <p class="text-danger fs-6 mt-2">Debe colocar una contraseña de al menos 4 caracteres.</p>
                            }
                        </div>
                        <div>
                            <label for="password2" class="form-label">Repite la contraseña</label>
                            <input id="password2" class="form-control" name="password2" type="password" ngModel #password2="ngModel"
                                minlength="4" autocomplete="new-password">
                            @if (password.invalid && !password.pristine) {
                            <p class="error">Debe colocar una contraseña de al menos 4 caracteres.</p>
                            }
                        </div>
                        <button class="btn btn-dark my-4">Crear cuenta</button>
                        @if(isLoading){
                        <!--<app-spinner></app-spinner>-->
                        }
                        @if (errorRegister) {
                        <p class="text-danger fs-6">Error indeterminado, intente nuevamente.</p>
                        }
                        <div class="text-center">
                            <p class="mb-0">¿Ya tenés cuenta?</p>
                            <a class="fw-bold text-decoration-none text-dark" routerLink="/login">Iniciá sesión</a>
                            <a class="fw-bold text-decoration-none text-dark m-4" routerLink="/">Volver</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>