.img-left {
    width: 100%;
    height: 100%;
}

.login-box {
    width: 100%;
    max-width: 420px;
}

@media (max-width: 2009px) {
    .login-box {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .img-left {
        width: 100%;
        height: 100vh;
    }
}

@media (max-width: 764px) {
    .login-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
